 /* .caixa {
     color: white; 
 } */

 .subtituloSobre {
     color: #8cb570;
 }

 .nomeDev {
    font-weight: 700 !important;

 }

 .cardmissao {
     background-color: #8cb570;
     color: #fff;
     font-family: 'Open Sans', sans-serif !important;
     min-height: 300px;
 }

 .cardtech {
     background-color: #061b14;
     color: #fff !important;
     min-height: 300px;
     padding: 20px;
 }

 .devscard {
     border-top: #8cb570 solid 2px;
     /* padding-top: 10px; */
     color: #fff !important;
     /* min-height: 155px;  */
 }

 #devsFila1 {
     /* height: 220px;  */
 }

 .devscard2 {
     /* color: black !important; */
     font-family: 'Open Sans', sans-serif !important;
 }


 .titulo {
     color: black !important;
     font-family: 'Open Sans', sans-serif !important;
     min-height: 300px;
     padding: 50px;
 }

 .cardicons {
     color: #8cb570;
     border-top: #8cb570 solid 2px;
     margin-top: 15px;
     padding: 5px;
 }

 .fotosDev {
     max-height: 180px;
     /* border: red 1px solid; */
 }