.caixa{
    background-color: white;
}

.titulo{
   color: black !important;
   font-family: 'Open Sans', sans-serif !important;
}

/* .imagemlogo {
    background-image: url(https://media.discordapp.net/attachments/1092433236082303086/1108378950880743494/WhatsApp_Image_2023-05-15_at_9.07.00_PM-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    min-height: 100vh; 
}

.imagem {
    background-image: url(https://i.imgur.com/3CytTdi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    min-height: 100vh; 
}

.imagemlampada {
    background-image: url(https://cdn.pixabay.com/photo/2020/06/04/15/56/light-bulb-5259340_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    min-height: 100vh; 
}  */