 .caixa{
    /* background-color: white;  */
} 

.cardmissao{
    background-color: #8cb570;
    color:#fff;
    font-family: 'Open Sans', sans-serif !important; 
    min-height: 300px; 
}

.cardtech{
    background-color: #061b14;
    color:#fff !important;
     min-height: 300px;
    
}

.devscard{
    color:#fff !important;
    font-family: 'Open Sans', sans-serif !important;
}

.devscard2{
    color:black !important;
    font-family: 'Open Sans', sans-serif !important;
}


.titulo{
   color: black !important;
   font-family: 'Open Sans', sans-serif !important;
   min-height: 300px;  
}

.cardicons{
    color: #8cb570;
    border-top: #8cb570 solid 2px;
    margin-top: 15px;
    padding: 5px;
}

/* Responsividade */

@media(max-width: 1000px){

    nav{
        width: 100vw;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }

    .cardmissao{
        background-color: #8cb570;
        color:#fff;
        font-family: 'Open Sans', sans-serif !important; 
        min-height: 300px; 
    }

    .titulo{
        text-align: center;
    }

    main{   
        width: 95vw;
    }

    #sobre {
        flex-direction: column-reverse;
    }
}