.contato{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 40px;
}



.formulario{
    width: 80%;
}



#sobre{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #DECDF5;
    border-radius: 16px;
    gap: 20px;
}




button{
    font-family: 'lato' Roboto;
    background-color: var(--background-nav);
    font-weight: 800;
    color: white;
}
