.navbar {
    background-color: #061b14 !important; 
}

.cursor {
    color: white;
}

.cursor:hover {
    color: var(--cor-verde);
    text-shadow: 1px 1px 6px var(--cor-verde);
}

.border {
    border: 1px solid red;
}

.separar {
    justify-content: space-between;
}

.boxNav {
    align-items: center;
    flex-wrap: wrap;
}

.cart{
    font-size: 1.5rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.cart_status{
    background: red;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 10px;
    font-weight: 1000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}