.navbar {
    /* background-color: #061b14 !important; */
    color: rgb(202, 32, 32) !important;

    /* background-color: var(--cor-verde-escuro) !important; */
}

.cursor {
    color: white;
}
.border {
    border: 1px solid red;
}

.separar {
    justify-content: space-between;
}

.boxNav {
    align-items: center;
    flex-wrap: wrap;
}