.bodyTab {
    background-color: var(--cor-verde);
    min-height: 60vh;
}

.border1 {
    /* border: 1px solid red; */
    object-fit: cover;
    /* background-color: var(--cor-verde) !important; */


}

.border {
    /* border: 1px solid red; */
    object-fit: cover;

}