.tituloLogin {
    font-size: 2rem !important;
    color: var(--cor-verde-claro) !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.627);
    font-size: 34px;
    font-weight: 500;
}

.subtitulo {   
    font-size: 1.5rem !important;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.627);
}

.texto {
    text-align: center ;
    color: white;
    font-weight: 300;
}

.grid {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.cardInfo {
    max-width: 400px;
    height: 300px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardVerde {
    max-width: 400px;
    height: 300px;
    padding: 10px;
    padding-top: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(45deg, var(--cor-verde-claro), var(--cor-verde));
    box-sizing: border-box;
    box-shadow: -10px 0 35px rgba(0,0,0,.233);
}

.button{
    background-color: transparent !important;
    color: #fff !important;
}

.button:hover{
    font-size: 1,6rem;
    text-shadow: 1px 1px 2px black;
}

#buttonEntrar {
    background-color: var(--cor-verde-claro) !important;
}
